@using WebApplication1.Controllers

@{
    ViewBag.Title = "About";
    //const string s2 = "VALUE";
    //const string s = $"{s2}";
    A b;
    //b = new();
    //A a = new A();

    // 7.0
    void LocalFunction()
    {
    }

    // 8
    using var file = new A();

    //// 9
    //List<string> l = new();

    //// 10
    //const string s2 = "VALUE";
    //const string s1 = $"{s2}";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.

    </p>
