@{
    ViewData["Title"] = "Home Page";

    // 7.0
    void LocalFunction()
    {
    }

    // 8
    using var file = new System.IO.StreamWriter("WriteLines2.txt");

    //// 9
    //List<string> l = new();

    //// 10
    //const string s2 = "VALUE";
    //const string s1 = $"{s2}";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
